header.header
    .headerWrapper
        .headerColumn
            a(href=routes.home)
                i.fab.fa-youtube.icon  
                span #{siteName}
        .headerColumn 
            form(action=routes.search, method="get")
                .searchingBar
                    input(type="text", name="term", placeholder="Search")
                    button 
                        i.fas.fa-search
        .headerColumn
            ul
                if !user
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) LogIn
                else 
                    li 
                        a(href=`${routes.videos}${routes.upload}`) Upload
                    li 
                        a(href=`${routes.users}${routes.userDetail(user.id)}`) Profile
                    li 
                        a(href=routes.logout) LogOut
                