extends ./layouts/main

block content   
    .editVideoContainer
        form(action=`${routes.videos}${routes.editVideo(video.id)}` method="post")
            input(type="text" name="title" value=video.title)
            br
            textarea(name="description", cols="30", rows="10")=video.description
            br
            input(type="submit" value="SAVE")
    a.deleteVideoLink(href=`${routes.videos}${routes.deleteVideo}`) Delete Video