extends ./layouts/main

block content
    h2 Edit Profile  
    .formContainer
        form(action=`${routes.users}${routes.editProfile}` method="post" enctype="multipart/form-data")
            .fileContainer
                input(type="file" name="avatarFile" id="avatar" accept="image/*" )
            input(type="text" name="name" value=loggedUser.name)
            input(type="email" name="email" value=loggedUser.email)
            input(type="submit" value="Edit now")
    a.changePasswordLink(href=`${routes.users}${routes.changePassword}`) Change Password 