extends ./layouts/main

block content
    .videoWrapper   
        .videoColumn
            .videoContainer
                .videoPlayer
                    video(src=`/${video.fileUrl}` controls=true)
                .videoInfo
                    a.info(href=`${routes.videos}${routes.editVideo(video.id)}`) Edit Video
                    h3.info.videoTitle= video.title
                    span.info.videoViews= `VIEWS ${video.views} • ${video.createdAt}`
                    h4.info.video.description= video.description
                .videoCreator jjanmo
        .videoColumn related video list
    .commentWrapper comment     