extends ./layouts/main
include ./mixins/videoPlayer
include ./mixins/commentBlock

block content
    .videoWrapper   
        .videoColumn
            .videoContainer
                +videoPlayer({
                    file : video.fileUrl
                })
                .videoInfo
                    if loggedUser && video.creator.id === loggedUser.id
                        a.editBtn(href=`${routes.videos}${routes.editVideo(video.id)}`) Edit Video
                    h3.info.videoTitle= video.title
                    .info
                        .infoColumn
                            span.videoViews= `VIEWS ${video.views} • ${dateFormatter(video.createdAt)}`
                        .infoColumn    
                            span.like#jsVideoLikeBtn
                                button
                                    i.fas.fa-thumbs-up  
                                span.cnt#jsVideoLikeCount=video.like
                            span.dislike#jsVideoDislikeBtn
                                button
                                    i.fas.fa-thumbs-down  
                                span.cnt#jsVideoDislikeCount=video.dislike
                .videoDescription                                
                    .videoCreator Uploaded by 
                        a(href=`${routes.users}${routes.userDetail(video.creator.id)}`)=video.creator.name
                    p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quam repellendus totam ad ipsum quidem nam harum! Tempore, reiciendis tenetur asperiores neque doloremque, voluptatem aut in ab obcaecati, rerum qui?Perspiciatis recusandae beatae earum corporis.
            .commentContainer#jsCommentContainer
                .commentHeader
                    if video.comments.length === 1
                        h3.commentCount
                            span#jsCommnetCount #{video.comments.length} 
                            |  Comment
                    else
                        h3.commentCount
                            span#jsCommnetCount #{video.comments.length} 
                            |  Comments
                    form#jsCommentForm
                        img(src="/uploads/avatar/avatar.png")
                        input#jsCommentInput(type="text" name="comment" placeholder="Add a public comment.....")
                        .btnBox
                            button#jsCommentCancelBtn CANCEL
                            button#jsCommentSubmitBtn COMMENT
                .commentList#jsCommentList
                    each item in video.comments
                        +commentBlock({
                            creator : item.creator,
                            avatarUrl : item.creator,
                            createdAt : dateFormatter(item.createdAt),
                            text : item.text,
                            like : item.like,
                            dislike : item.dislike
                        })
        .videoColumn related video list     