mixin replyBlock(reply={})
    li(id=reply.id)
        .replyDisplayBox
            div
                img(src=reply.avatarUrl)
            div
                span.name
                    if loggedUser  
                        if loggedUser.id === reply.creatorId 
                            a(href=`${routes.users}${routes.myProfile}`)= reply.name
                        else
                            a(href=`${routes.users}${routes.userDetail(reply.creatorId)}`)= reply.name
                    else
                            a(href=`${routes.users}${routes.userDetail(reply.creatorId)}`)= reply.name    
                span.date=reply.date
            div
                span.replyText=reply.text
            div
                if loggedUser && loggedUser.id === reply.creatorId
                    span.editBtn
                        i.fas.fa-pencil-alt.editReply(data-id=reply.id)
                    span.deleteBtn
                        i.fas.fa-minus-circle.deleteReply(data-id=reply.id)
        .replyEditBox.hidden
            form#jsReplyEditForm
                input#jsReplyEditInput(type="text" name="reply" autocomplete="off" required)
                .editBtnBox
                    button#jsReplyEditCancelBtn(type="button") 
                        i.far.fa-times-circle.cancel
                    button#jsReplyEditSaveBtn
                        i.far.fa-check-circle.save       