mixin userProfileVideoBlock( video = {})
    .userProfileVideoBlock
        a(href=`${routes.videos}${routes.videoDetail(video.id)}`)
            video.videoBlockThumbnail(src=video.file)
        .videoInfo
            h3.videoBlockTitle= video.title
            h4 
                span.videoBlockViews= `VIEWS ${video.views} • ${video.createdAt}`