extends ./layouts/main

block content
    h2 Edit Your Video
    .editVideoContainer
        form(action=`${routes.videos}${routes.editVideo(video.id)}` method="post")
            input(type="text" name="title" value=video.title)           
            textarea(name="description", cols="30", rows="10")=video.description
            input(type="submit" value="SAVE")
    a.deleteVideoLink(href=`${routes.videos}${routes.deleteVideo(video.id)}`) DELETE