extends ./layouts/main
include ./mixins/videoPlayer
include ./mixins/commentBlock
include ./mixins/modalBlock

block content
    .videoWrapper
        if !loggedUser
            +modalBlock
        .videoColumn
            .videoContainer
                +videoPlayer({
                    file : video.fileUrl,
                    id : video.id
                })
                .videoInfo
                    if loggedUser && video.creator.id === loggedUser.id
                        a.editBtn(href=`${routes.videos}${routes.editVideo(video.id)}`) Edit Video
                    h3.info.videoTitle= video.title
                    .info
                        .infoColumn
                            span.videoViews= `VIEWS ${video.views} • ${dateFormatter(video.createdAt)}`
                        .infoColumn
                            if loggedUser && loggedUser.likeVideos.includes(video.id)
                                span.like.selected#jsVideoLikeBtn
                                    button
                                        i.fas.fa-thumbs-up  
                                    span.cnt#jsVideoLikeCount=video.like
                            else 
                                span.like#jsVideoLikeBtn
                                    button
                                        i.fas.fa-thumbs-up  
                                    span.cnt#jsVideoLikeCount=video.like
                            if loggedUser && loggedUser.dislikeVideos.includes(video.id)
                                span.dislike.selected#jsVideoDislikeBtn
                                    button
                                        i.fas.fa-thumbs-down  
                                    span.cnt#jsVideoDislikeCount=video.dislike
                            else
                                span.dislike#jsVideoDislikeBtn     
                                    button
                                        i.fas.fa-thumbs-down  
                                    span.cnt#jsVideoDislikeCount=video.dislike
                .videoDescription                                
                    .videoCreator Uploaded by 
                        a(href=`${routes.users}${routes.userDetail(video.creator.id)}`)=video.creator.name
            .commentContainer#jsCommentContainer
                .commentHeader
                    if video.comments.length === 1
                        h3.commentCount
                            span#jsCommentCount #{video.comments.length} 
                            span#jsLiteralComment  Comment
                    else
                        h3.commentCount
                            span#jsCommentCount #{video.comments.length} 
                            span#jsLiteralComment Comments
                    form#jsCommentForm(data-user=loggedUser)
                        if loggedUser
                            if loggedUser.avatarUrl
                                img(src=loggedUser.avatarUrl)
                            else 
                                img.default(src=defaultAvatar)
                        else if !loggedUser 
                            img.default(src=defaultAvatar)
                        input#jsCommentInput(type="text" name="comment" placeholder="Add a public comment....." autocomplete="off" required)
                        .btnBox
                            button#jsCommentCancelBtn(type="button") CANCEL
                            button#jsCommentSubmitBtn COMMENT
                .commentList#jsCommentList
                    each item in video.comments
                        +commentBlock({
                            id : item.id,
                            creator : item.creator,
                            avatarUrl : item.creator,
                            createdAt : dateFormatter(item.createdAt),
                            text : item.text,
                            like : item.like,
                            replies : item.replies
                        })   