mixin commentBlock(comment= {})
    .commentBlock#jsCommentBlock
        .imageBox
            img(src=comment.creator.avatarUrl)
        .rightBox    
            .commentInfo
                span.name=comment.creator.name
                span.date=comment.createdAt
            .content
                p=comment.text
            .buttonBox
                span.like#jsCommentLikeBtn
                    button
                        i.fas.fa-thumbs-up  
                    span.cnt#jsCommentLikeCount=comment.like
                span.dislike#jsCommentDislikeBtn
                    button
                        i.fas.fa-thumbs-down  
                    span.cnt#jsCommentDislikeCount=comment.dislike
                span.reply#jsReplyBtn
                    button
                        i.fas.fa-reply
                if loggedUser && comment.creator.id === loggedUser.id
                    span.delete#jsDeleteBtn(data-id=comment.id)
                        button
                            i.fas.fa-minus-circle

