include ./replyBlock

mixin commentBlock(comment= {})
    .commentBlock(id=comment.id)
        .imageBox
            img(src=comment.creator.avatarUrl)
        .right    
            .displayBox
                .commentInfo
                    span.name=comment.creator.name
                    span.date=comment.createdAt
                .content
                    p=comment.text
                .buttonBox(data-id=comment.id)
                    span.likeCommentBtn
                        button(type="button")
                            if loggedUser && comment.like.includes(loggedUser.id)
                                i.fas.fa-heart.like.selected
                            else
                                i.fas.fa-heart.like           
                        span.cnt#jsLikeCommentCnt=comment.like.length
                    span.replyCommentBtn
                        button(type="button")
                            i.fas.fa-reply
                        span.cnt#jsReplyCnt=comment.replies.length
                    if loggedUser && comment.creator.id === loggedUser.id
                        span.editCommentBtn
                            button(type="button")
                                i.fas.fa-pencil-alt.editComment
                        span.deleteCommentBtn
                            button(type="button")
                                i.fas.fa-minus-circle.deleteComment
            if loggedUser
                .editBox.hidden    
                    form#jsEditCommentForm
                        input#jsEditCommentInput(type="text" name="comment" autocomplete="off" required)
                        .editBtnBox
                            button#jsEditCommentCancelBtn(type="button") CANCEL
                            button#jsEditCommentSaveBtn SAVE
                .replyFormBox.hidden
                    .imgDiv
                        img(src=loggedUser.avatarUrl)
                    form#jsReplyForm
                        input#jsReplyInput(type="text" name="reply" autocomplete="off" placeholder="Add a public reply....." required)
                        .replyBtnBox
                            button#jsReplyCancelBtn(type="button") CANCEL
                            button#jsReplySaveBtn REPLY
            .replyListBox
                ul
                    each reply in comment.replies
                        +replyBlock({
                            id : reply._id,
                            name : reply.creator.name,
                            creatorId : reply.creator.id,
                            date : dateFormatter(reply.createdAt),
                            text : reply.text,
                            avatarUrl : reply.creator.avatarUrl
                        })
