mixin commentBlock(comment= {})
    .commentBlock(id=comment.id)
        .imageBox
            img(src=comment.creator.avatarUrl)
        .rightBox    
            .commentInfo
                span.name=comment.creator.name
                span.date=comment.createdAt
            .content
                p=comment.text
            .buttonBox(data-id=comment.id)
                span.likeCommentBtn
                    button
                        i.fas.fa-thumbs-up  
                    span.cnt=comment.like
                span.dislikeCommentBtn
                    button
                        i.fas.fa-thumbs-down 
                    span.cnt=comment.dislike
                span.replyCommentBtn
                    button
                        i.fas.fa-reply
                if loggedUser && comment.creator.id === loggedUser.id
                    span.editCommentBtn
                        button
                            i.fas.fa-pencil-alt.edit
                    span.deleteCommentBtn
                        button
                            i.fas.fa-minus-circle.delete

