mixin commentBlock(comment= {})
    .commentBlock(id=comment.id)
        .imageBox
            img(src=comment.creator.avatarUrl)
        .right    
            .displayBox
                .commentInfo
                    span.name=comment.creator.name
                    span.date=comment.createdAt
                .content
                    p=comment.text
                .buttonBox(data-id=comment.id)
                    span.likeCommentBtn
                        button(type="button")
                            if loggedUser && comment.like.includes(loggedUser.id)
                                i.fas.fa-heart.like.selected
                            else
                                i.fas.fa-heart.like           
                        span.cnt#jsLikeCommentCnt=comment.like.length
                    span.replyCommentBtn
                        button(type="button")
                            i.fas.fa-reply
                    if loggedUser && comment.creator.id === loggedUser.id
                        span.editCommentBtn
                            button(type="button")
                                i.fas.fa-pencil-alt.edit
                        span.deleteCommentBtn
                            button(type="button")
                                i.fas.fa-minus-circle.delete
            .editBox.hidden    
                form#jsEditCommentForm
                    input#jsEditCommentInput(type="text" name="comment" autocomplete="off")
                    .editBtnBox
                        button#jsEditCommentCancelBtn(type="button") CANCEL
                        button#jsEditCommentSaveBtn(type="button") SAVE
            .replyFormBox.hidden
                .imgDiv
                    img(src=comment.creator.avatarUrl)
                form#jsReplyForm
                    input#jsReplyInput(type="text" name="reply" autocomplete="off" placeholder="Add a public reply.....")
                    .replyBtnBox
                        button#jsReplyCancelBtn(type="button") CANCEL
                        button#jsReplySaveBtn(type="button") REPLY
            .replyListBox.hidden
                ul
                    li
                        div
                            img(src="/uploads/avatar/default_avartar.png")
                        div
                            span.name jjanmo
                            span.date 2020.03.24
                        div
                            span.replyText 이것은 대댓글
                        div
                            span.editBtn
                                i.fas.fa-pencil-alt.edit
                            span.deleteBtn
                                i.fas.fa-minus-circle.delete
